<div class="footer">

<div class="flex" id="footer_content">

  <div class="flex" style="align-items: center;" >
      <div>
        <img src="assets/header/logo.png" alt="Logo" class="brand-logo" id="brandLogo">
      </div>
      <div style="margin-left: -30px; color: white;">
        <h1 class="fs-700" id="brandName">Local</h1>
      </div>
  </div>
  <div class="flex" id="account">
    <h3>ACCOUNT</h3>
    <ul>
      <li>My account</li>
      <li>Wishlist</li>
      <li>Order history</li>
      <li>Offers</li>
      <li>Gift vouchers</li>
    </ul>
  </div>
  <div class="flex" id="customer_service" style="border: none;">
    <h3>CONTACT US</h3>
    <ul>
      <li>
        <i class="fas fa-map-pin" style="color: red;"></i> Bhagwanpur, Muzaffarpur, Bihar - 842001
      </li>
      <li>
        <i class="fas fa-phone" style="color: red;"></i> +91-9111111111
      </li>
      <li>
        <i class="fas fa-at" style="color: red;"></i> dummy@shop-local.com
      </li>

    </ul>
  </div>
  <div class="flex" id="customer_service">
    <h3>CUSTOMER SERVICE</h3>
    <ul>
      <li>Help Center</li>
      <li>Returns & Exchange</li>
      <li>Product Recalls</li>
      <li>Contact Us</li>
      <li>FAQs</li>
    </ul>
  </div>

</div>
<div id="findoutmore">
  <h2>Find Out More :</h2>
  <p>
    Browse Alphabetically :
    <a>A</a>
    <a>B</a>
    <a>C</a>
    <a>D</a>
    <a>E</a>
    <a>F</a>
    <a>G</a>
    <a>H</a>
    <a>I</a>
    <a>J</a>
    <a>K</a>
    <a>L</a>
    <a>M</a>
    <a>N</a>
    <a>O</a>
    <a>Q</a>
    <a>R</a>
    <a>S</a>
    <a>T</a>
    <a>U</a>
    <a>V</a>
    <a>W</a>
    <a>X</a>
    <a>Y</a>
    <a>Z</a>
    <a>0-9</a>
  </p>
</div>
</div>
