
<div class="flex" style="margin-top: 10px; flex-direction: column;">

  <div style="padding: 10px;">
    <h3>Today's Deals</h3>
    <div class="flex" id="top-deals-banner" style="margin-top: 10px;">
      <img src="assets/top-prod/banner-12.png">
      <img src="assets/top-prod/banner-14.png">
      <img src="assets/top-prod/banner-13.png">
    </div>
  </div>
  <div >
    <h3 style="padding: 10px;">Top Selling Products</h3>
    <div class="flex" id="top-products-holder">
      <div class="flex box-shadow-3 top-prods">
          <div>
              <span>-14%</span>
          </div>
          <div id="product_img">
              <img src="assets/top-prod/product-3.jpg">
          </div>
          <div class="flex prod_rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <div id="prod_name">
            <p>Redmi Note 10 Pro</p>
          </div>
          <div id="prod_price">
            <p style="color: red; font-weight: 900;">&#8377; 2899 <small
    style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
          </div>
          <div class="addcart-hold flex">
            <div id="add_fav_btn">
              <button class="button red-button">
                <i class="fas fa-heart"></i>
              </button>
            </div>
            <div id="add_fav_btn">
              <button class="button red-button">
                Add to cart
              </button>
            </div>
          </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-16.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-5.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-9.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-16.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-5.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-3.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>

      <div class="flex box-shadow-3 top-prods">
        <div>
          <span>-14%</span>
        </div>
        <div id="product_img">
          <img src="assets/top-prod/product-3.jpg">
        </div>
        <div class="flex prod_rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div id="prod_name">
          <p>Redmi Note 10 Pro</p>
        </div>
        <div id="prod_price">
          <p style="color: red; font-weight: 900;">&#8377; 2899 <small
              style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
        </div>
        <div class="addcart-hold flex">
          <div id="add_fav_btn">
            <button class="button red-button">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <div id="add_fav_btn">
            <button class="button red-button">
              Add to cart
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>



</div>
