<div class="flex" style="margin-left: 70px;margin-top: 50px;">
  <h3>Recently viewed products</h3>
</div>
<div class="container flex" style="margin-top: 20px;background: #fff;margin-bottom: 20px;">
  <div>
    <button onclick="prevSlide()" class="button red-button"><i class="fas fa-chevron-left"></i></button>
  </div>
  <div style="height: 100%; width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/product-10.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>

  </div>
  <div style="height:  100%; width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/product-9.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small
          style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>
  </div>
  <div style="height: 100%;  width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/product-4.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small
          style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>

  </div>
  <div style="height:  100%;  width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/product-5.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small
          style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>

  </div>
  <div style="height:  100%;  width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/product-12.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small
          style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>

  </div><div style="height: 100%;  width: 200px;" class="box-shadow-3">
    <div style="width: 100%;height: 230px;padding: 10px;">
      <img src="../../assets/category-2.jpg" style=" border-radius: 5px;width: 100%;height: 230px;">
    </div>
    <div style="padding: 10px;">
      <small style="font-weight: 700; color: #888;font-size: 10px;">Brand X</small>
      <p>Unisex Black Shoe</p>
      <p style="color: red; font-weight: 900;">&#8377; 2899 <small
          style="text-decoration: line-through;color: #bfbfbf;">&#8377; 7299</small></p>
    </div>

  </div>
  <div>
    <button onclick="prevSlide()" class="button red-button"><i class="fas fa-chevron-right"></i></button>
  </div>
</div>
