<div class="container-hd flex" id="cardBannerHolder">
  <div class="bannerCard flex box-shadow-3">
    <div id="cardBannerLeft">
      <h4 class="categoryItem offer green">25% Off</h4>
      <h3> Vegetables</h3>
      <p>Best fresh quality for your family</p>
    </div>
    <div id="bannerCardImg">
      <img src="assets/offer-banner1.png">
    </div>
  </div>
  <div class="bannerCard flex box-shadow-3">
    <div id="cardBannerLeft">
      <h4 class="categoryItem offer blue">
        15% Off</h4>
      <h3>Gadgets</h3>
      <p>Bring devices that ease life</p>
    </div>
    <div id="bannerCardImg">
      <img src="assets/img_01.png">
    </div>
  </div>
  <div class="bannerCard flex box-shadow-3">
    <div id="cardBannerLeft">
      <h4 class="categoryItem offer orange">
        30% Off</h4>
      <h3>Organic Fruits</h3>
      <p>Best fresh quality from farms</p>
    </div>
    <div id="bannerCardImg">
      <img src="assets/offer-banner2.png">
    </div>
  </div>
  <div class="bannerCard flex box-shadow-3">
    <div id="cardBannerLeft">
      <h4 class="categoryItem offer red">
        10% Off</h4>
      <h3>Smartphones </h3>
      <p>Best deals on smartphones</p>
    </div>
    <div id="bannerCardImg">
      <img src="assets/iphone.jpg">
    </div>
  </div>
</div>
