<div class="flex wavy" style="margin-top: 20px; align-items: center;justify-content: center;">
  <div style="height: 300px; align-items: center;justify-content: baseline;" class="flex">
    <div>
      <img style="height: 270px;" src="../../assets/exclusive.png" class="product">
    </div>
    <div>
      <span>Exclusively available on Shoplocal</span>
      <h2  style="font-weight: 800;">72 hr Powerful Battery Backup</h2>
      <button class="button red-button" style="width: 200px;height: 50px;">Shop Now</button>
      <p style="font-size: 13px; margin-top: 5px;color: black;">EMI starts at Rs 199/month</p>
    </div>
  </div>
</div>
