<div class="flex wavy" style="margin-top: 50px; align-items: center;justify-content: center;">
  <div  class="flex exclusive_container">
    <div id="exlusive_prod_img">
      <img  src="assets/exclusive.png" class="product">
    </div>
    <div id="exclusive_details">
      <span>Exclusively available on Shoplocal</span>
      <h2  style="font-weight: 800;">72 hr Powerful Battery Backup</h2>
      <button class="button red-button exclusive_btn">Shop Now</button>
      <p style="font-size: 13px; margin-top: 5px;color: black;">EMI starts at Rs 199/month</p>
    </div>
  </div>
</div>
